# These github actions will perform linting using pre-commit.
# yamllint disable rule:line-length
# spell-checker: disable
---
name: pre-commit

# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
    branches-ignore:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: install talisman
        uses: jaxxstorm/action-install-gh-release@v1
        with:
          repo: thoughtworks/talisman
          extension-matching: disable
          rename-to: talisman
          chmod: 0755
      - name: Install terraform-docs
        uses: jaxxstorm/action-install-gh-release@v1
        with:
          repo: terraform-docs/terraform-docs
      - name: Install tflint
        uses: terraform-linters/setup-tflint@v6
        with:
          cache: true
      - name: Install tofu
        uses: opentofu/setup-opentofu@v1
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - uses: astral-sh/setup-uv@v7
      - run: uv sync --locked --all-extras --dev
      - run: uv run pre-commit run --show-diff-on-failure --all-files
